.background-app{
    margin-top: 50px;
    width: 1000px; /* Change the width as needed */
    height: 600px; /* Change the height as needed */
    background-color: purple; /* Change the background color as needed */
}